
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

header, footer, .hero {
    background-color: #1F2937;
    margin-top: -11px;
    margin-left: -10px;
    margin-right: -10px;
}

header {
    display: flex;
    flex-grow: 1;
}
.header_links {
    display: flex;
    margin-left: 400px;
    margin-top: 25px;
}

ul {
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 12px;
}

.forest_image {
    width: 800px;
    height: 235px;
    margin-top: 120px;
    margin-right: 210px;
}

.hero {
    display: flex;
    height: 485px;
}

.hero_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.hero_main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 350px;
    margin-left: 110px;
    margin-top: -20px;
}

.hero_secondary {
    margin-left: 110px;
    margin-top: -37px;
    width: 450px;
    padding-right: 50px;
}

.b1 {
    width: 130px;
    height: 38px;
    margin-left: 110px;
    color: #E5E7EB;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

.hero_secondary, .header_links {
    font-size: 18px;
    color: #E5E7EB;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 210px;
    margin-top: 20px;
}

button, .action {
    background-color: #3882F6;
}

.info_head {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
}

.quote {
    background-color: #E5E7EB;
}

.quote_text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.info {
    height: 430px;
}

.img {
    border-radius: 8px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
    height: 170px;
    margin: 20px;
    align-items: center;
}

.imgsub {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 140px;
}

.sub1 {
    order: 5;
    width: 25px;
}

.sub2 {
    order: 6;
    width: 25px;
}

.sub3 {
    order: 7;
    width: 25px;
}

.sub4 {
    order: 8;
    width: 25px;
}

.quote {
    height: 500px;
}